@import url('https://fonts.googleapis.com/css2?family=Faustina&family=Play&family=Rokkitt:wght@500&display=swap');

* {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: auto;
}

body {
    background-color: black;
}

.home {
    position: fixed;
    top: 27%;
    right: 2%;
    float: right;
    z-index: 4;
}

.home ul {
    list-style: none;
    padding: 32px;
}

.home ul li {
    display: flex;
    padding: 8px;
    justify-content: flex-end;
}

.home ul li button {
    padding: 8px;
    color: white;
    background: none;
    font-size: 16px;
    border: none;
    outline: none;
    font-family: 'Play', sans-serif;
}

.home ul li button {
    display: none;
}

.home ul li .line {
    background-color: #998e8e;
    height: 40px;
    width: 2px;
}

#myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    z-index: -2;
    transition: all 1s;
    opacity: 0.6;
}

.navbar {
    position: sticky;
    top: 0;
    left: 0;
    max-width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 4;
    padding: 12px;
    transition: all 1s;
}

.navbar:hover {
    background-color: white;
}

.navbar:hover .burger {
    filter: invert(1);
}

.navbar img {
    width: 66px;
    height: 44px;
    transition: transform 0.4s;
}

.navbar img:hover {
    transform: rotate(360deg);
    cursor: pointer;
}

.nav-list {
    transition: all 2s;
}

.navbar ul {
    width: 75%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    list-style: none;
    padding: 8px;
    padding-left: 20%;
}

.navbar:hover img,
.navbar:hover ul {
    filter: invert(1);
}

.navbar ul a {
    text-decoration: none;
    font-size: 1.2rem;
    color: white;
    font-family: 'Play', sans-serif;
    /* transition: all 0.4s; */
}

.navbar ul a:hover {
    border-bottom: 2px solid;
}

.navbar ul .btn {
    color: white;
    font-size: 20px;
    padding: 8px;
    outline: none;
    border: 2px solid white;
    background: none;
    font-weight: bold;
    cursor: pointer;
    font-family: 'Play', sans-serif;
}

.navbar ul .btn:hover {
    background-color: white;
    color: black;
}

.burger {
    display: none;
    cursor: pointer;
    top: 16px;
    right: 4%;
}

.b-line {
    width: 32px;
    background-color: white;
    height: 4px;
    margin: 6px 3px;
}

.btn-sticky {
    z-index: 4;
}

#home {
    max-width: 100%;
    height: 100vh;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    transition: all 1s;
}

#home .big-para {
    font-size: 6rem;
    width: 50%;
    height: 41vh;
    font-family: sans-serif;
    text-align: center;
    font-weight: bold;
    font-family: 'Play', sans-serif;
}

#home .sm-para {
    font-size: 2rem;
    width: 50%;
    height: 8vh;
    font-family: sans-serif;
    text-align: center;
    font-weight: bold;
}

.sec1 {
    height: 100%;
}

#about {
    max-width: 100%;
    height: 60vh;
    color: white;
    display: flex;
    justify-content: space-evenly;
    transition: all 1s;
}

.heading {
    display: flex;
    height: 6vh;
    width: 22%;
    padding-top: 16px;
    border-top: 2px solid white;
    font-family: 'Faustina', serif;
    opacity: 1;
}

.page {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
}

#content {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 100%;
    transition: all 1s;
    background-blend-mode: soft-light;
    z-index: 0;
    height: 100vh;
}

#para1 {
    max-width: 50%;
    font-size: 1.6rem;
    font-family: 'Play', sans-serif;
    color: white;
    padding: 44px;
    transition: all 1s;
}

.arrow-box{
    margin: 42%;
}

.arrow{
    border: 1px solid none;
    color: white;
    font-size: 32px;
    width: 8%;
    padding: 8px;
    margin: 4%;
    border-radius: 5%;
    background-color: #219797;
    text-decoration: none;
    text-align: center;
}

#para1 strong {
    font-size: 3.6rem;
    font-family: 'Faustina', serif;
}

#img1 {
    max-width: 44%;
    max-height: 44%;
    padding: 16px;
    transition: all 1s;
    margin: 16px;
}

@keyframes mynewmove {
    0% {
        max-width: 44%;
        max-height: 44%;
    }

    50% {
        max-width: 40%;
        max-height: 40%;
    }

    100% {
        max-width: 44%;
        max-height: 44%;
    }
}

#mission {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 100%;
    height: 100vh;
    transition: all 1s;
    flex-direction: row;
    
}

#para2 {
    max-width: 50%;
    font-size: 1.6rem;
    font-family: 'Play', sans-serif;
    color: white;
    padding: 44px;
    transition: all 1s;
}
#para2_flex{
    flex-direction: row;
}

#para2 strong {
    font-size: 3.6rem;
    font-family: 'Faustina', serif;
}

#img2 {
    max-width: 44%;
    max-height: 44%;
    padding: 16px;
    transition: all 1s;
    margin: 16px;
}

#img2:hover {
    max-width: 46%;
    max-height: 46%;
}

#vision {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 100%;
    height: 100vh;
    transition: all 1s;
}

#para3 {
    max-width: 50%;
    font-size: 1.6rem;
    color: white;
    padding: 44px;
    font-family: 'Play', sans-serif;
    transition: all 1s;
}

#para3 strong {
    font-size: 3.6rem;
    font-family: 'Faustina', serif;
}

#img3 {
    max-width: 44%;
    max-height: 44%;
    padding: 16px;
    transition: all 1s;
    margin: 16px;
}
