{% extends 'base.html' %}
{% load static %}


{% block head %}
  <link rel="stylesheet" href="{% static 'blog.css' %}">
    
{% endblock head %}

{% block title %}Blogs{% endblock title %}

{% block body %}

<body>
    <div class="hero-image">
        <div class="hero-text">
            <h1>THE TDB BLOGS </h1>
        </div>
    </div>

    <div class="gallery" id="blogBox">
        <ul style="margin-left: unset;">
            {% for ttl in post%}
            <li>
                <div class="row-div" data-aos="zoom-in">
                    <span class="imgtitle">{{ttl.title}}</span>
                    <br>
                    <a href="post/{{ttl.uid}}" title="Image 1 Link Title Tag"><img
                            class="blog-img" src="{{ttl.image.url}}" alt="" /></a>
                    <br>
                    <span class="readmore"><a href="post/{{ttl.title}}">Continue Reading &raquo;</a></span>
                </div>
            </li>
            {% endfor %}
        </ul>
    </div>

    {% comment %} <div class="scrollBtn">
        <button id="slideBack" type="button">Prev</button>
        <button id="slide" type="button">Next</button>
    </div> {% endcomment %}

    {% comment %} <script>
        var button = document.getElementById('slide');
        button.onclick = function () {
            var blogBox = document.getElementById('blogBox');
            sideScroll(blogBox, 'right', 1, 1600, 10);
        };

        var back = document.getElementById('slideBack');
        back.onclick = function () {
            var blogBox = document.getElementById('blogBox');
            sideScroll(blogBox, 'left', 1, 1600, 10);
        };

        function sideScroll(element, direction, speed, distance, step) {
            scrollAmount = 0;
            var slideTimer = setInterval(function () {
                if (direction == 'left') {
                    element.scrollLeft -= step;
                } else {
                    element.scrollLeft += step;
                }
                scrollAmount += step;
                if (scrollAmount >= distance) {
                    window.clearInterval(slideTimer);
                }
            }, speed);
        }
    </script> {% endcomment %}

</body>
{% endblock body %}

