<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html>
<!--<![endif]-->
{% extends 'sol_base.html' %} {% load static %}

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="title" content="Artificial intelligence in Health care - Solving Scale AI">
    <meta name="description"
        content="Solving Scale AI provides one of the most sophisticated system for health care industry to monitor health checking, patient monitoring, hospital management and theft detection also.">
    <meta name="keywords"
        content="AI in Healthcare, Health Checking, Patient Monitoring, Theft Alert, Hospital Management, AI Company, AI Company in Indore, Best AI Company, AI Technology, Artificial Intelligence Company, AI Company in Consulting, AI in Healthcare, AI in Customerised Services, AI in Retail, Top AI Company, Consulting, High end AI Company, Enterprise AI, AI and Machine Learning Company, 24/7 AI Company, Clear View Facial Recognition">
    <meta name="author" content="solvingscaleAi">
    <meta http-equiv="Cache-control" content="public">
      {% block title %} Healthcare {% endblock title %} 


    <!-- Mobile Specific Meta
  ================================================== -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="{%static '/images/symb.jpeg'%}" />


    <!-- CSS
  ================================================== -->
    <!-- Themefisher Icon font -->
    <link rel="stylesheet" href="{%static '/plugins/themefisher-font/style.css'%}">
    <!-- font icon -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-LVV5M06YY7"></script>
    <link rel="stylesheet" href="{%static '/css/aos.css'%}">
    <link rel="stylesheet" href="{%static '/css/bootstrap.css'%}">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap" rel="stylesheet">
    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }
        gtag('js', new Date());

        gtag('config', 'G-LVV5M06YY7');
    </script>
    <style>
        .card-title {
            color: black;
        }

        .navbar {
            position: fixed;
            z-index: 1000;
            left: 0;
            right: 0;
            padding: 8px;
        }

        .navbar-brand {
            padding: 0px 10px;
        }

        .footer-ul li a {
            text-decoration: none;
            margin: 0px 10px;
        }

        .footer-ul li {
            text-decoration: none;
            display: inline;
        }

        .social-media li a {
            text-decoration: none;
            margin: 0px 5px;
        }

        .social-media li {
            text-decoration: none;
            display: inline;
        }

        .card {
            transition: box-shadow 0.3s ease-in-out;
        }

        .card:hover {
            box-shadow: 0 1px 5px rgba(133, 133, 133, 0.9);
        }

        .formdiv {
            /* background-image: url("{%static '/images/map.jpg'%}") !important;*/
            background-repeat: no-repeat;
            border-radius: 10px;
            background-size: cover;
            background-color: rgb(241, 241, 241);
        }

        * {
            font-family: 'play', sans-serif;
        }

        @media only screen and (max-width: 700px) {
            .remove {
                display: none;
            }
        }

        body {
            background-color: black !important;
            color: white;
        }
    </style>

</head>
{% block body %}

<body id="body">

    <!--
  Start Preloader
  ==================================== -->
    <div id="preloader">
        <div class='preloader'>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
        </div>
    </div>
    <!--
  End Preloader
  ==================================== -->




    <!--
Fixed Navigation
==================================== -->
    <header class="navigation fixed-top">
        <!-- <div class="container"> -->
        <!-- main nav -->

        <!-- /main nav -->
        <!-- </div> -->
    </header><br><br><br><br>
    <!--
End Fixed Navigation
==================================== -->
    <div class="container ">
        <div class="row">
            <div class="col-md-6 my-auto">
                <h2 data-aos="fade-down" data-aos-duration="1000">AI in Healthcare</h2>
                <p class="services-border"
                    style="border-left: 3px solid;padding:10px; border-image: linear-gradient(to bottom, #3399ff , #ff99cc) 1 100%;"
                    data-aos="zoom-in " data-aos-duration="2000">
                    Health is wealth!.
                </p>
            </div>
            <div class="col-md-6">
                <video style="width: 100%;" autoplay muted loop>
                    <source src="https://tdb-website-demo-con.b-cdn.net/new_solutions/healthcare.webm" type="video/webm"> 
                </video>
                
            </div>
        </div><br>
        <h2 class="text-center" data-aos="fade-down">Challenges Faced by the Healthcare Sector</h2>
        <p class="text-center" data-aos="zoom-in" data-aos-duration="1000">In 2018, 30% of patients died in India due to
            less care and monitoring in hospitals. The problem lies in long queue for checkups, patient monitoring
            negligence, incomplete data,etc. Doctors, nurses, and other care providers all have to spend a
            lot of time doing paperwork and dealing with administrative tasks that burn a lot of their valuable time.
            Most of the time nurses couldn't focuses on person's HR, BR, BP, etc. And sometimes, an unknown person comes
            up as an intruder in doctor's
            clothes and directly affects health of patient or may also end up stealing babies.
        </p>
        <div class="row  text-center  my-5">
            <div class="col-md-4 my-2">
                <div class="card mx-auto " style="width: 100%;height: 20rem;">
                    <img class="card-img-top mx-auto" style="width: 30%;" src="{%static '/images/theft-alert.svg'%}"
                        alt="solvingscale.ai theft rate">
                    <div class="card-body ">
                        <h5 class="card-title" data-aos="fade-down" data-aos-duration="600">Theft Alert</h5>

                        <p class="card-text " data-aos="flip-up" data-aos-duration="1500">violence, robberies,
                            burglaries, blackmail and theft. It is also a subject where smart solutions are often
                            mistakenly seen as a solution.</p>

                    </div>
                </div>
            </div>
            <div class="col-md-4 my-2">
                <div class="card mx-auto " style="width: 100%;height: 20rem;">
                    <img class="card-img-top mx-auto" style="width: 30%;border-radius: 50%;"
                        src="{%static '/images/heart-beat.png'%}" alt="solvingscale.ai vehivle collision">
                    <div class="card-body ">
                        <h5 class="card-title" data-aos="fade-down" data-aos-duration="600">Health Checking</h5>

                        <p class="card-text " data-aos="flip-up" data-aos-duration="1500">Regular health checks can
                            identify any early signs of health issues.</p>

                    </div>
                </div>
            </div>
            <div class="col-md-4 my-2">
                <div class="card mx-auto " style="width: 100%;height: 20rem;">

                    <img class="card-img-top mx-auto" style="width: 26%; border-radius: 50%;"
                        src="{%static '/images/patientmonitor.svg'%}" alt="solvingscale.ai theft rate">
                    <div class="card-body ">
                        <h5 class="card-title" data-aos="fade-down" data-aos-duration="600"> Patient Monitoring</h5>

                        <p class="card-text " data-aos="flip-up" data-aos-duration="1500">Patient monitoring is
                            essential compliance in every hospitals</p>

                    </div>
                </div>
            </div>
        </div>
        <h2 class="text-center" data-aos="fade-down" data-aos-duration="600">How Can AI Help?</h2>
        <div class="row my-5">
            <div class="col-md-4 my-2 ">
                <div class="card mx-auto " style="width: 100%;height: 20rem;">
                    <img class="card-img-top mx-auto" style="width: 30%;" src="{%static '/images/safety.svg'%}"
                        alt="solvingscale.ai vehivle collision">
                    <div class="card-body mx-auto">
                        <h5 class="card-title text-center" data-aos="fade-down" data-aos-duration="600">Safety
                            Compliance
                        </h5>

                        <p class="card-text text-left" data-aos="flip-up" data-aos-duration="1500">
                            <ul>
                                <li>- Safety Guard Detection</li>
                                <li>- Camera Tempering</li>
                                <li>- Mask and Glov Detection</li>
                            </ul>
                        </p>

                    </div>
                </div>
            </div>
            <div class="col-md-4 my-2">
                <div class="card mx-auto " style="width: 100%;height: 20rem;">
                    <img class="card-img-top mx-auto" style="width: 30%;"
                        src="{%static '/images/health-insurance.svg'%}" alt="solvingscale.ai vehivle collision">
                    <div class="card-body mx-auto">
                        <h5 class="card-title text-center " data-aos="fade-down" data-aos-duration="600"> Patient
                            Monitoring
                        </h5>

                        <p class="card-text text-left " data-aos="flip-up" data-aos-duration="1500">
                            <ul>
                                <li>- Heart Rate Variation</li>
                                <li>- Breathing Rate Variation</li>
                                <li>- Temperature Checking </li>
                            </ul>
                        </p>

                    </div>
                </div>
            </div>

            <div class="col-md-4 my-2">
                <div class="card mx-auto " style="width: 100%;height: 20rem;">
                    <img class="card-img-top mx-auto" style="width: 30%;" src="{%static '/images/shield (1).svg'%}"
                        alt="solvingscale.ai vehivle collision">
                    <div class="card-body mx-auto">
                        <h5 class="card-title text-center" data-aos="fade-down" data-aos-duration="600">Security
                            Compliance
                        </h5>

                        <p class="card-text text-left " data-aos="flip-up" data-aos-duration="1500">
                            <ul>
                                <li>- Intruder Detection</li>
                                <li>- Loitering Detection</li>
                                <li>- Unattended Object Detection</li>
                            </ul>
                        </p>

                    </div>
                </div>
            </div>
        </div>
        <div class="row my-5">
            <div class="col-md-4 my-2 ">
                <div class="card mx-auto " style="width: 100%;height: 20rem;">
                    <img class="card-img-top mx-auto" style="width: 30%;" src="{%static '/images/workplace.svg'%}"
                        alt="solvingscale.ai vehivle collision">
                    <div class="card-body mx-auto">
                        <h5 class="card-title text-center" data-aos="fade-down" data-aos-duration="600">Workplace SOP
                        </h5>

                        <p class="card-text text-left " data-aos="flip-up" data-aos-duration="1500">

                            <ul>
                                <li>- Facial Attendence System </li>
                                <!-- <li>&nbsp; Recognition(ALPR)</li> -->
                                <li>- Fire and Smoke Detection</li>
                            </ul>

                        </p>

                    </div>
                </div>
            </div>
            <div class="col-md-4 my-2">
                <div class="card mx-auto " style="width: 100%;height: 20rem;">
                    <img class="card-img-top mx-auto" style="width: 30%;" src="{%static '/images/hospital.svg'%}"
                        alt="solvingscale.ai vehivle collision">
                    <div class="card-body mx-auto">
                        <h5 class="card-title text-center" data-aos="fade-down" data-aos-duration="600">Hospital
                            Management
                        </h5>

                        <p class="card-text text-left " data-aos="flip-up" data-aos-duration="1500">
                            <ul>
                                <li>- Analytics on Day to Day data</li>
                                <li>- Staff Management System</li>

                            </ul>
                        </p>

                    </div>
                </div>
            </div>

            <div class="col-md-4 my-2">
                <div class="card mx-auto " style="width: 100%;height: 20rem;">
                    <img class="card-img-top mx-auto" style="width: 30%;" src="{%static '/images/coronavirus.svg'%}"
                        alt="solvingscale.ai vehivle collision">
                    <div class="card-body mx-auto">
                        <h5 class="card-title text-center" data-aos="fade-down" data-aos-duration="600">Unusual
                            Prevention
                        </h5>

                        <p class="card-text text-left " data-aos="flip-up" data-aos-duration="1500">
                            <ul>
                                <li>- Fall Detection</li>
                                <li>- Face Mask Detection</li>
                                <li>- Gender Recognition</li>
                            </ul>
                        </p>


                    </div>
                </div>
            </div>
        </div>


        <h2 class="text-center">Why TDB?</h2>
        <div class="row  text-center my-5">
            <div class="col-md-4 my-2">
                <div class="card mx-auto " style="width: 100%;height: 20rem;">
                    <img class="card-img-top mx-auto" style="width: 30%;" src="{%static '/images/consistency.svg'%}"
                        alt="solvingscale.ai vehivle collision">
                    <div class="card-body ">
                        <h5 class="card-title text-center" data-aos="fade-down" data-aos-duration="600">Consistency</h5>

                        <p class="card-text " data-aos="flip-up" data-aos-duration="1500">What makes a building product
                            great? The easy answer is the Consistency with which it produces books of value over a
                            lengthy period of time.</p>

                    </div>
                </div>
            </div>
            <div class="col-md-4 my-2">
                <div class="card mx-auto " style="width: 100%;height: 20rem;">
                    <img class="card-img-top mx-auto" style="width: 30%;" src="{%static '/images/reliability.svg'%}"
                        alt="solvingscale.ai vehivle collision">
                    <div class="card-body ">
                        <h5 class="card-title text-center" data-aos="fade-down" data-aos-duration="600">Reliability</h5>

                        <p class="card-text " data-aos="flip-up" data-aos-duration="1500">What is important is the
                            reliability of our work being there to greet my clients with a smile or a giggle every
                            morning. That's how we keep on growing.</p>

                    </div>
                </div>
            </div>
            <div class="col-md-4 my-2">
                <div class="card mx-auto " style="width: 100%;height: 20rem;">
                    <img class="card-img-top mx-auto" style="width: 30%;" src="{%static '/images/customer-review.svg'%}"
                        alt="solvingscale.ai vehivle collision">
                    <div class="card-body ">
                        <h5 class="card-title text-center" data-aos="fade-down" data-aos-duration="600">Satisfaction
                        </h5>

                        <p class="card-text " data-aos="flip-up" data-aos-duration="1500">A customer talking about their
                            experience with you is worth ten times that which you write or say about yourself.</p>

                    </div>
                </div>
            </div>
        </div>
    </div>


        <!-- end Footer Area
	========================================== -->



        <!--
	Essential Scripts
	=====================================-->
        <!-- Main jQuery -->
        <script src="{%static '/plugins/jquery/jquery.min.js'%}"></script>

        <script src="{%static '/plugins/bootstrap/js/bootstrap.min.js'%}"></script>

        <!-- Custom js -->
        <script src="{%static '/js/script.js'%}"></script>
        <script src="{%static '/js/val.js'%}"></script>
        <script src="{%static '/js/aos.js'%}"></script>
        <script>
            AOS.init();
        </script>

</body>
{% endblock body %}

</html>