{% extends 'base.html' %}
<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/eae2567ff1.js" crossorigin="anonymous"></script>

    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.5.0/jquery.min.js"></script>
   
    <title>TDB.AI</title>
</head>
{% block body %}
<body>
    <div id="myImages"></div>

    <section class="home">
        <ul>
            <li><button class="btn-sticky" id="start0" style="height: 40px;"></button>
                <a href="#">
                    <div class="line" id="line0"></div>
                </a>
            </li>
            <li><button class="btn-sticky" id="start" style="height: 40px;">About</button>
                <a href="#content">
                    <div class="line" id="line1"></div>
                </a>
            </li>
            <li><button class="btn-sticky" id="start1" style="height: 40px;">Journey</button>
                <a href="#timeline">
                    <div class="line" id="line2"></div>
                </a>
            </li>
            <li><button class="btn-sticky" id="start2" style="height: 40px;">Our Team</button>
                <a href="#team">
                    <div class="line" id="line3"></div>
                </a>
            </li>
            <li><button class="btn-sticky" id="start3" style="height: 40px;">Our Culture</button>
                <a href="#culture">
                    <div class="line" id="line4"></div>
                </a>
            </li>
        </ul>
    </section>

  

    <div id="home">
        <p class="big-para">Tech Driven Basic</p>
        <p class="sm-para"></p>
    </div>

    <div id="about">
        <a href="#about-us">
            <h2 class="heading" id="head1">About</h2>
        </a>
        <a href="#timeline">
            <h2 class="heading" id="head2">Journey</h2>
        </a>
        <a href="#team">
            <h2 class="heading" id="head3">Team</h2>
        </a>
        <a href="#culture">
            <h2 class="heading" id="head4">Culture</h2>
        </a>
    </div>

    <div class="content" id="about-us">
        <div class="boxes">
            <button class="box-btn">About TDB</button>
            <div class="box-content">
                Tech Driven Basic (TDB) is a computer vision company with a vision of providing AI softwares in various
                domains such as Medical, Real estate, Government, Retails, Construction. We provide our clients with
                various camera enabling tools as an autonomous tool, life saviour tool, decision making software, Edge
                surveillance, IOT.
            </div>
        </div>

        <div class="boxes">
            <button class="box-btn">Our Mission</button>
            <div class="box-content">
                With having a strong vision and experience, Tech Driven Basic Provides solutions for the real time
                problems using computer vision techniques and artificial intelligence which reduces the need of manual
                monitoring.
            </div>
        </div>

        <div class="boxes">
            <button class="box-btn">Our Vision</button>
            <div class="box-content">
                Our vision is to provide affordable AI and reduce human level monitoring.
            </div>
        </div>
    </div>


    <br>

    <div id="timeline">
        <div class="timeline-head">
            <h1>Timeline</h1>
            <p class="italic-para"> <i>The Journey Of TDB.ai. Let's roll the Camera</i> </p>
        </div>
        <div id="journey">
            <button id="left" onclick="leftFunc()">&#10094;</button>
            <button id="right" onclick="rightFunc()">&#10095;</button>
            <img src="{% static 'tdb/img/logo.png' %}" id="logoIcon" alt="Logo">
        </div>
        <div class="slideshow-container">

            <div class="mySlides fade" id="one">
                <div class="numbertext">1 / 8</div>
                <img src="{% static 'tdb/img/gifs/beginning.gif' %}" class="slide-img">
                <div class="text">
                    <strong class="item-head">The Begining</strong>
                    <p>We say every success story starts with a dream, Our <b>Director Mr. Deepanshu Bhinda</b> with an
                        idea
                        and aim of providing
                        affordable and accurate AI softwares to people of various domains started a company TDB
                        Technologies on 15th March,2019
                        as a sole proprietorship firm.</p>
                </div>

            </div>

            <div class="mySlides fade" id="two">
                <div class="numbertext">2 / 8</div>
                <img src="{% static 'tdb/img/gifs/hardwork.gif' %}" class="slide-img">
                <div class="text"><strong class="item-head">The Hardwork</strong>
                    <p>We got the first opportunity to introduce ourselves to youth and public soon after the starting
                        of firm on 1st April,
                        2019 where we were asked to provide a workshop on AI at SKNCOE Pune.</p>
                </div>
            </div>

            <div class="mySlides fade" id="three">
                <div class="numbertext">3 / 8</div>
                <img src="{% static 'tdb/img/gifs/detection.gif' %}" class="slide-img">
                <div class="text"><strong class="item-head">The Adaptation</strong>
                    <p>On 20th April, 2019 we got our very first project from a singapore client base on Automatic
                        Number Plate
                        Recognition(ANPR) and then we got an opportunity to build a complete product on road safety by a
                        UAE based client.</p>
                </div>
            </div>

            <div class="mySlides fade" id="four">
                <div class="numbertext">4 / 8</div>
                <img src="{% static 'tdb/img/gifs/consistency.gif' %}" class="slide-img">
                <div class="text"><strong class="item-head">The Consistency</strong>
                    <p>We started conducting workshops on AI in various colleges
                        and universities like
                        Symbiosis University of Applied Science Indore, Swami Vivekanand College of Engineering and many
                        more..</p>
                </div>
            </div>

            <div class="mySlides fade" id="five">
                <div class="numbertext">5 / 8</div>
                <img src="{% static 'Product/gifs/thermal_temp1.gif' %}" class="slide-img">
                <div class="text"><strong class="item-head">The Conversion</strong>
                    <p>While Covid-19 pandemic brought many things and many lives to a standstill it also gave
                        opportunities. We were lucky to have got many opportunities during this time and got to work on
                        COVID-19 precautionary like temperature detection, heart rate variation, mask detection and many
                        more.</p>
                </div>
            </div>

            <div class="mySlides fade" id="six">
                <div class="numbertext">6 / 8</div>
                <img src="{% static 'tdb/img/gifs/beginning.gif' %}" class="slide-img">
                <div class="text"><strong class="item-head">The Incorporation</strong>
                    <p>On July 28th, 2020 almost after a year of starting the firm, we got blessed to have incorporated
                        Tech Driven Basic AI
                        into a Private Limited Company and we know this is just the beginning.</p>
                </div>
            </div>

            <div class="mySlides fade" id="seven">
                <div class="numbertext">7 / 8</div>
                <img src="{% static 'tdb/img/gifs/new_beginning.gif' %}" class="slide-img">
                <div class="text"><strong class="item-head">The New Begining</strong>
                    <p>On 25th november 2020 we have collaborated with one of the best IT networking solution based
                        company in hydrabad named veloxtech solutions in order to integrate AI with existing software in
                        industry.</p>
                </div>
            </div>

            <div class="mySlides fade" id="eight">
                <div class="numbertext">8 / 8</div>
                <img src="{% static 'tdb/img/gifs/hardwork.gif' %}" class="slide-img">
                <div class="text"><strong class="item-head">The Consulting</strong>
                    <p>On December 16th 2020, We and Veloxtech Solutions have started an AI consulting firm
                        SolvingScale.ai which focuses on solving problems with AI.</p>
                </div>
            </div>
        </div>
        <br>
    </div>

    <br>

    <div id="team">
        <div class="team-head">
            <h1>Our Team</h1>
            <p class="italic-para"> <i>Teamwork is the ability to work together toward a common vision. The ability to
                    direct individual accomplishments toward organizational objectives. It is the fuel that allows
                    common people to attain uncommon results.</i> </p>
        </div>
        <div class="hierarchy">
            <div class="container">
                <img src="{% static 'tdb/team_tdb_images/deepanshu_bhinda.jpg' %}" alt="Image" class="hierarchy1 trigger">
                <div class="center"><img src="{% static 'tdb/tdb_team_website/DEEPANSHU BHINDA.gif' %}" alt=""></div>
            </div>

            <div class="container">
                <img src="{% static 'tdb/team_tdb_images/prachi_bhinda.jpg' %}" alt="Image" class="hierarchy1">
                <div class="center"><img src="{% static 'tdb/tdb_team_website/PRACHI BHINDA.gif' %}" alt=""></div>
            </div>
        </div>

        <div class="hierarchy">
            <div class="container">
                <img src="{% static 'tdb/team_tdb_images/sushil_moury.jpg' %}" alt="Image" class="hierarchy1">
                <div class="center"><img src="{% static 'tdb/tdb_team_website/SUSHIL MOURYA.gif' %}" alt=""></div>
            </div>

            <div class="container">
                <img src="{% static 'tdb/team_tdb_images/chitresh_vardhan.jpg' %}" alt="Image" class="hierarchy1">
                <div class="center"><img src="{% static 'tdb/tdb_team_website/CHITRESH VARDHAN.gif' %}" alt=""></div>
            </div>

            <div class="container">
                <img src="{% static 'tdb/team_tdb_images/abhijit_kaushi.jpg' %}" alt="Image" class="hierarchy1">
                <div class="center"><img src="{% static 'tdb/tdb_team_website/ABHIJEET KAUSHI.gif' %}" alt=""></div>
            </div>

            <div class="container">
                <img src="{% static 'tdb/team_tdb_images/prachi_panchal.jpg' %}" alt="Image" class="hierarchy1">
                <div class="center"><img src="{% static 'tdb/tdb_team_website/PRACHI PANCHAL.gif' %} "alt=""    ></div>
            </div>
        </div>

        <div class="hierarchy">
            <div class="container">
                <img src="{% static 'tdb/team_tdb_images/shrey_trivedi.jpg' %}" alt="Image" class="hierarchy1">
                <div class="center"><img src="{% static 'tdb/tdb_team_website/SHREY TRIVEDI .gif' %}" alt=""></div>
            </div>

            <div class="container">
                <img src="{% static 'tdb/team_tdb_images/pratyush_pandey.jpg' %}" alt="Image" class="hierarchy1">
                <div class="center"><img src="{% static 'tdb/tdb_team_website/PRATYUSH PANDEY.gif' %}" alt=""></div>
            </div>

            <div class="container">
                <img src="{% static 'tdb/team_tdb_images/mohit_rathore.jpg' %}" alt="Image" class="hierarchy1">
                <div class="center"><img src="{% static 'tdb/tdb_team_website/MOHIT RATHORE .gif' %}" alt=""></div>
            </div>

            <div class="container">
                <img src="{% static 'tdb/team_tdb_images/akshay_barua.jpg' %}" alt="Image" class="hierarchy1">
                <div class="center"><img src="{% static 'tdb/tdb_team_website/AKSHAY BARUA.gif' %}" alt=""></div>
            </div>
        </div>

        <div class="hierarchy">
            <div class="container">
                <img src="{% static 'tdb/team_tdb_images/harish_bhabhar.jpg' %}" alt="Image" class="hierarchy1">
                <div class="center"><img src="{% static 'tdb/tdb_team_website/HARISH BHABHAR.gif' %}" alt=""></div>
            </div>
            <div class="container">
                <img src="{% static 'tdb/team_tdb_images/harish_parmar.jpg' %}" alt="Image" class="hierarchy1">
                <div class="center"><img src="{% static 'tdb/tdb_team_website/HARISH PARMAR.gif' %}" alt=""></div>
            </div>
        </div>
    </div>

    <div id="culture">
        <div class="culture-head">
            <h1>Our Culture</h1>
            <p class="italic-para"> <i>Cultural differences should not separate us from each other,
                    but rather cultural diversity brings a collective strength that can benefit all of humanity</i> </p>
        </div>
        <div id="culture-box">
            <img src="{% static 'tdb/Culture/1.png' %}" id="card1" alt="Culture" class="card">
            <img src="{% static 'tdb/Culture/2.png' %}" id="card2" alt="Culture" class="card">
            <img src="{% static 'tdb/Culture/3.png' %}" id="card3" alt="Culture" class="card">
            <img src="{% static 'tdb/Culture/4.jpg' %}" id="card4" alt="Culture" class="card">
        </div>
    </div>

    <div id="contact">
        <div class="contact-head">
            <h1>Let's Connect with us</h1>
        </div>

        <div class="contact-data">
            <p class="heading1" id="head-1">
                <i class="main-icon fa fa-long-arrow-right" onclick="openForm()"></i>
                <br>
                <strong>Get in touch</strong>
                <br>
            </p>

            <p class="heading1" id="head-2">
                <i class="main-icon fa fa-long-arrow-right"></i>
                <br>
                <strong>Request a demo</strong>
                <br>
            </p>

            <p class="heading1" id="head-3">
                <i class="main-icon fa fa-long-arrow-right"></i>
                <br>
                <strong>Contact us :</strong>
                <br>
                <a href="mailto:info@tdb.ai"><i class="co-icon fa fa-envelope-o"></i>info@tdb.ai</a>
                <br>
                <a href="tel:+917313510004"><i class="co-icon fa fa-phone"></i>+91-731-3510004</a>
                <br>
                <a href="tel:+917507898930"><i class="co-icon fa fa-phone"></i>+91-7507898930</a>
                <br>
                <a href=""><i class="co-icon fa fa-map-marker"></i>615, Apollo Premier, Vijay Nagar Square, Indore,
                    Madhya Pradesh 452001</a>
                <br>
            </p>
        </div>
    </div>

    <div class="chat-popup" id="myForm">
        <div class="cross"><i class="fa fa-times" onclick="closeForm()"></i></div>
        <form action="/action_page.php" class="form-container">
            <h1>Let's Chat</h1>
            <input type="text" name="name" id="name" placeholder="Enter Your Name" required>
            <input type="email" name="email" id="email" placeholder="Enter Your Email" required>
            <input type="text" name="phone" id="phone" placeholder="Enter Your Phone Number" required>
            <input type="text" name="city" id="city" placeholder="Enter Your city" required>
            <textarea placeholder="Additional information.." name="msg" required></textarea>

            <button type="submit" class="chat-btn">Send</button>
        </form>
    </div>

    <script>
        function openForm() {
            document.getElementById("myForm").style.display = "block";
        }

        function closeForm() {
            document.getElementById("myForm").style.display = "none";
        }
    </script>

    <script>
        var slideIndex = 1;
        showSlides(slideIndex);

        function plusSlides(n) {
            showSlides(slideIndex += n);
        }

        function currentSlide(n) {
            showSlides(slideIndex = n);
        }

        function showSlides(n) {
            var i;
            var slides = document.getElementsByClassName("mySlides");
            var dots = document.getElementsByClassName("dot");
            if (n > slides.length) { slideIndex = 1 }
            if (n < 1) { slideIndex = slides.length }
            for (i = 0; i < slides.length; i++) {
                slides[i].style.display = "none";
            }
            slides[slideIndex - 1].style.display = "block";
        }
    </script>
    <script>
        var count = 1;
        var one = document.getElementById("one");
        var two = document.getElementById("two");
        var three = document.getElementById("three");
        var four = document.getElementById("four");
        var five = document.getElementById("five");
        var six = document.getElementById("six");
        var seven = document.getElementById("seven");
        var eight = document.getElementById("eight");
        var logoIcon = document.getElementById("logoIcon");
        function leftFunc() {
            if (count != 1) {
                count = count - 1;
            }
            if (count == 1) {
                one.style.display = "block";
                two.style.display = "none";
                three.style.display = "none";
                four.style.display = "none";
                five.style.display = "none";
                six.style.display = "none";
                seven.style.display = "none";
                eight.style.display = "none";
                logoIcon.style.left = "10%";
            } else if (count == 2) {
                one.style.display = "none";
                two.style.display = "block";
                three.style.display = "none";
                four.style.display = "none";
                five.style.display = "none";
                six.style.display = "none";
                seven.style.display = "none";
                eight.style.display = "none";
                logoIcon.style.left = "20%";
            } else if (count == 3) {
                one.style.display = "none";
                two.style.display = "none";
                three.style.display = "block";
                four.style.display = "none";
                five.style.display = "none";
                six.style.display = "none";
                seven.style.display = "none";
                eight.style.display = "none";
                logoIcon.style.left = "30%";
            } else if (count == 4) {
                one.style.display = "none";
                two.style.display = "none";
                three.style.display = "none";
                four.style.display = "block";
                five.style.display = "none";
                six.style.display = "none";
                seven.style.display = "none";
                eight.style.display = "none";
                logoIcon.style.left = "40%";
            } else if (count == 5) {
                one.style.display = "none";
                two.style.display = "none";
                three.style.display = "none";
                four.style.display = "none";
                five.style.display = "block";
                six.style.display = "none";
                seven.style.display = "none";
                eight.style.display = "none";
                logoIcon.style.left = "50%";
            } else if (count == 6) {
                one.style.display = "none";
                two.style.display = "none";
                three.style.display = "none";
                four.style.display = "none";
                five.style.display = "none";
                six.style.display = "block";
                seven.style.display = "none";
                eight.style.display = "none";
                logoIcon.style.left = "60%";
            } else if (count == 7) {
                one.style.display = "none";
                two.style.display = "none";
                three.style.display = "none";
                four.style.display = "none";
                five.style.display = "none";
                six.style.display = "none";
                seven.style.display = "block";
                eight.style.display = "none";
                logoIcon.style.left = "70%";
            } else if (count == 8) {
                one.style.display = "none";
                two.style.display = "none";
                three.style.display = "none";
                four.style.display = "none";
                five.style.display = "none";
                six.style.display = "none";
                seven.style.display = "none";
                eight.style.display = "block";
                logoIcon.style.left = "80%";
            }
        }

        function rightFunc() {
            if (count != 8) {
                count = count + 1;
            }
            if (count == 1) {
                one.style.display = "block";
                two.style.display = "none";
                three.style.display = "none";
                four.style.display = "none";
                five.style.display = "none";
                six.style.display = "none";
                seven.style.display = "none";
                eight.style.display = "none";
                logoIcon.style.left = "10%";
            } else if (count == 2) {
                one.style.display = "none";
                two.style.display = "block";
                three.style.display = "none";
                four.style.display = "none";
                five.style.display = "none";
                six.style.display = "none";
                seven.style.display = "none";
                eight.style.display = "none";
                logoIcon.style.left = "20%";
            } else if (count == 3) {
                one.style.display = "none";
                two.style.display = "none";
                three.style.display = "block";
                four.style.display = "none";
                five.style.display = "none";
                six.style.display = "none";
                seven.style.display = "none";
                eight.style.display = "none";
                logoIcon.style.left = "30%";
            } else if (count == 4) {
                one.style.display = "none";
                two.style.display = "none";
                three.style.display = "none";
                four.style.display = "block";
                five.style.display = "none";
                six.style.display = "none";
                seven.style.display = "none";
                eight.style.display = "none";
                logoIcon.style.left = "40%";
            } else if (count == 5) {
                one.style.display = "none";
                two.style.display = "none";
                three.style.display = "none";
                four.style.display = "none";
                five.style.display = "block";
                six.style.display = "none";
                seven.style.display = "none";
                eight.style.display = "none";
                logoIcon.style.left = "50%";
            } else if (count == 6) {
                one.style.display = "none";
                two.style.display = "none";
                three.style.display = "none";
                four.style.display = "none";
                five.style.display = "none";
                six.style.display = "block";
                seven.style.display = "none";
                eight.style.display = "none";
                logoIcon.style.left = "60%";
            } else if (count == 7) {
                one.style.display = "none";
                two.style.display = "none";
                three.style.display = "none";
                four.style.display = "none";
                five.style.display = "none";
                six.style.display = "none";
                seven.style.display = "block";
                eight.style.display = "none";
                logoIcon.style.left = "70%";
            } else if (count == 8) {
                one.style.display = "none";
                two.style.display = "none";
                three.style.display = "none";
                four.style.display = "none";
                five.style.display = "none";
                six.style.display = "none";
                seven.style.display = "none";
                eight.style.display = "block";
                logoIcon.style.left = "80%";
            }
        }


    </script>

    <script>
        {% comment %} window.addEventListener('scroll', () => {
            console.log(window.scrollY);
        }); {% endcomment %}

        var p = document.getElementById("home");
        var q = document.getElementById("about");

        var x = document.querySelector(".navbar");
        var y = document.getElementById("logo");
        var z = document.querySelector(".nav-list");
        var a = document.getElementById("myImages");
        var h1 = document.getElementById("head1");
        var h2 = document.getElementById("head2");
        var h3 = document.getElementById("head3");
        var h4 = document.getElementById("head4");


        burger = document.querySelector('.burger');
        var menu = document.getElementById("menu");

        const mediaQuery = window.matchMedia('(min-width: 1020px)');
        if (mediaQuery.matches) {

            window.onscroll = function () { scrollFunction() };

            function scrollFunction() {

                if (scrollY > 100) {
                    x.style.backgroundColor = 'black';
                    z.style.opacity = '0';
                    menu.style.display = 'block';
                    a.style.margin = '50px';
                    a.style.width = '92vw';
                    p.style.height = '80vh';
                    p.style.paddingTop = '348px';
                    q.style.height = '30vh';

                    document.getElementById("nav").onmouseover = function () {
                        x.style.backgroundColor = 'white';
                        y.style.filter = "invert(1)";
                        menu.style.filter = "invert(1)";

                        burger.addEventListener('click', () => {
                            menu.style.display = 'none';
                            z.style.opacity = '1';
                        });
                    }

                    document.getElementById("nav").onmouseout = function () {
                        x.style.backgroundColor = 'black';
                        y.style.filter = "invert(0)";
                        menu.style.filter = "invert(0)";
                    }

                }

                if (scrollY < 100) {
                    x.style.background = 'none';
                    z.style.display = 'flex';
                    a.style.margin = '0px';
                    a.style.width = '100vw';
                    p.style.height = '100vh';
                    p.style.paddingTop = '0';
                    q.style.height = '60vh';

                    z.style.opacity = '1';
                    menu.style.display = 'none';
                }

                if (scrollY > 264) {
                    a.style.display = 'none';
                    p.style.height = '60vh';
                    q.style.height = '10vh';

                    p.style.paddingTop = '0';
                    q.style.position = "fixed";
                    q.style.top = "100px";
                    q.style.zIndex = "2";
                    q.style.width = "100%"
                    h2.style.color = "rgb(132 126 117)";
                    h3.style.color = "rgb(132 126 117)";
                    h4.style.color = "rgb(132 126 117)";
                    h2.style.borderColor = "rgb(132 126 117)";
                    h3.style.borderColor = "rgb(132 126 117)";
                    h4.style.borderColor = "rgb(132 126 117)";
                }

                if (scrollY < 264) {
                    q.style.position = "unset";
                    a.style.display = 'block';

                    h2.style.color = "white";
                    h3.style.color = "white";
                    h4.style.color = "white";
                    h2.style.borderColor = "white";
                    h3.style.borderColor = "white";
                    h4.style.borderColor = "white";
                }

                if (scrollY > 564) {
                    q.style.display = "none";
                    h1.style.color = "rgb(132 126 117)";
                    h2.style.color = "white";
                    h3.style.color = "rgb(132 126 117)";
                    h4.style.color = "rgb(132 126 117)";
                    h1.style.borderColor = "rgb(132 126 117)";
                    h2.style.borderColor = "white";
                    h3.style.borderColor = "rgb(132 126 117)";
                    h4.style.borderColor = "rgb(132 126 117)";
                }

                if (scrollY < 564) {
                    q.style.display = "flex";
                    h1.style.color = "white";
                    h2.style.color = "rgb(132 126 117)";
                    h3.style.color = "rgb(132 126 117)";
                    h4.style.color = "rgb(132 126 117)";
                    h1.style.borderColor = "white";
                    h2.style.borderColor = "rgb(132 126 117)";
                    h3.style.borderColor = "rgb(132 126 117)";
                    h4.style.borderColor = "rgb(132 126 117)";
                }

                if (scrollY > 1380) {
                    h1.style.color = "rgb(132 126 117)";
                    h2.style.color = "rgb(132 126 117)";
                    h3.style.color = "white";
                    h4.style.color = "rgb(132 126 117)";
                    h1.style.borderColor = "rgb(132 126 117)";
                    h2.style.borderColor = "rgb(132 126 117)";
                    h3.style.borderColor = "white";
                    h4.style.borderColor = "rgb(132 126 117)";
                }

                if (scrollY > 3240) {
                    h1.style.color = "rgb(132 126 117)";
                    h2.style.color = "rgb(132 126 117)";
                    h3.style.color = "rgb(132 126 117)";
                    h4.style.color = "white";
                    h1.style.borderColor = "rgb(132 126 117)";
                    h2.style.borderColor = "rgb(132 126 117)";
                    h3.style.borderColor = "rgb(132 126 117)";
                    h4.style.borderColor = "white";
                }

                document.getElementById("line0").style.backgroundColor = "white";
                document.getElementById("start0").style.display = "block";

                if (scrollY < 100) {
                    document.getElementById("line1").style.backgroundColor = "#998e8e";
                    document.getElementById("start").style.display = "none";
                }

                if (scrollY > 264) {
                    document.getElementById("start").style.display = "block";
                    document.getElementById("start1").style.display = "none";
                    document.getElementById("start2").style.display = "none";
                    document.getElementById("start3").style.display = "none";
                    document.getElementById("line0").style.backgroundColor = "#998e8e";
                    document.getElementById("line1").style.backgroundColor = "white";
                    document.getElementById("line2").style.backgroundColor = "#998e8e";
                    document.getElementById("line3").style.backgroundColor = "#998e8e";
                    document.getElementById("line4").style.backgroundColor = "#998e8e";
                }

                if (scrollY > 564) {
                    document.getElementById("start").style.display = "none";
                    document.getElementById("start1").style.display = "block";
                    document.getElementById("start2").style.display = "none";
                    document.getElementById("start3").style.display = "none";
                    document.getElementById("line0").style.backgroundColor = "#998e8e";
                    document.getElementById("line1").style.backgroundColor = "#998e8e";
                    document.getElementById("line2").style.backgroundColor = "white";
                    document.getElementById("line3").style.backgroundColor = "#998e8e";
                    document.getElementById("line4").style.backgroundColor = "#998e8e";
                }

                if (scrollY > 1380) {
                    document.getElementById("start").style.display = "none";
                    document.getElementById("start1").style.display = "none";
                    document.getElementById("start2").style.display = "block";
                    document.getElementById("start3").style.display = "none";
                    document.getElementById("line0").style.backgroundColor = "#998e8e";
                    document.getElementById("line1").style.backgroundColor = "#998e8e";
                    document.getElementById("line2").style.backgroundColor = "#998e8e";
                    document.getElementById("line3").style.backgroundColor = "white";
                    document.getElementById("line4").style.backgroundColor = "#998e8e";
                }

                if (scrollY > 3240) {
                    document.getElementById("start").style.display = "none";
                    document.getElementById("start1").style.display = "none";
                    document.getElementById("start2").style.display = "none";
                    document.getElementById("start3").style.display = "block";
                    document.getElementById("line0").style.backgroundColor = "#998e8e";
                    document.getElementById("line1").style.backgroundColor = "#998e8e";
                    document.getElementById("line2").style.backgroundColor = "#998e8e";
                    document.getElementById("line3").style.backgroundColor = "#998e8e";
                    document.getElementById("line4").style.backgroundColor = "white";
                }
            }
        } else {
            document.getElementById("nav").onmouseover = function() {
            x.style.backgroundColor = 'white';
            y.style.filter = "invert(1)";
            menu.style.filter = "invert(1)";
        }

        document.getElementById("nav").onmouseout = function() {
            x.style.backgroundColor = 'black';
            y.style.filter = "invert(0)";
            menu.style.filter = "invert(0)";
        }


        z.style.filter = "invert(1)";
        menu.style.display = 'block';

            window.onscroll = function () { scrollFunction() };

            function scrollFunction() {

                if (scrollY > 100) {
                    a.style.margin = '19px';
                    a.style.width = '92vw';
                    p.style.height = '80vh';
                    p.style.paddingTop = '348px';
                    q.style.height = '30vh';

                    x.style.backgroundColor = 'white';
                    y.style.filter = "invert(1)";
                    menu.style.filter = "invert(1)";
                }

                if (scrollY < 100) {
                    a.style.margin = '0px';
                    a.style.width = '100vw';
                    p.style.height = '100vh';
                    p.style.paddingTop = '0';
                    q.style.height = '60vh';

                    x.style.backgroundColor = 'black';
                    y.style.filter = "invert(0)";
                    menu.style.filter = "invert(0)";
                }

                if (scrollY > 264) {
                    a.style.display = 'none';
                    p.style.height = '60vh';
                    q.style.height = '10vh';

                    p.style.paddingTop = '0';
                    q.style.position = "fixed";
                    q.style.top = "100px";
                    q.style.zIndex = "2";
                    q.style.width = "100%"
                    h2.style.color = "rgb(132 126 117)";
                    h3.style.color = "rgb(132 126 117)";
                    h4.style.color = "rgb(132 126 117)";
                    h2.style.borderColor = "rgb(132 126 117)";
                    h3.style.borderColor = "rgb(132 126 117)";
                    h4.style.borderColor = "rgb(132 126 117)";
                }

                if (scrollY < 264) {
                    q.style.position = "unset";
                    a.style.display = 'block';

                    h2.style.color = "white";
                    h3.style.color = "white";
                    h4.style.color = "white";
                    h2.style.borderColor = "white";
                    h3.style.borderColor = "white";
                    h4.style.borderColor = "white";
                }

                if (scrollY > 869) {
                    q.style.display = "none";
                    h1.style.color = "rgb(132 126 117)";
                    h2.style.color = "white";
                    h3.style.color = "rgb(132 126 117)";
                    h4.style.color = "rgb(132 126 117)";
                    h1.style.borderColor = "rgb(132 126 117)";
                    h2.style.borderColor = "white";
                    h3.style.borderColor = "rgb(132 126 117)";
                    h4.style.borderColor = "rgb(132 126 117)";
                }

                if (scrollY < 869) {
                    q.style.display = "flex";
                    h1.style.color = "white";
                    h2.style.color = "rgb(132 126 117)";
                    h3.style.color = "rgb(132 126 117)";
                    h4.style.color = "rgb(132 126 117)";
                    h1.style.borderColor = "white";
                    h2.style.borderColor = "rgb(132 126 117)";
                    h3.style.borderColor = "rgb(132 126 117)";
                    h4.style.borderColor = "rgb(132 126 117)";
                }

                if (scrollY > 1963) {
                    h1.style.color = "rgb(132 126 117)";
                    h2.style.color = "rgb(132 126 117)";
                    h3.style.color = "white";
                    h4.style.color = "rgb(132 126 117)";
                    h1.style.borderColor = "rgb(132 126 117)";
                    h2.style.borderColor = "rgb(132 126 117)";
                    h3.style.borderColor = "white";
                    h4.style.borderColor = "rgb(132 126 117)";
                }

                if (scrollY > 6565) {
                    h1.style.color = "rgb(132 126 117)";
                    h2.style.color = "rgb(132 126 117)";
                    h3.style.color = "rgb(132 126 117)";
                    h4.style.color = "white";
                    h1.style.borderColor = "rgb(132 126 117)";
                    h2.style.borderColor = "rgb(132 126 117)";
                    h3.style.borderColor = "rgb(132 126 117)";
                    h4.style.borderColor = "white";
                }

                document.getElementById("line0").style.backgroundColor = "white";
                document.getElementById("start0").style.display = "block";

                if (scrollY < 100) {
                    document.getElementById("line1").style.backgroundColor = "#998e8e";
                    document.getElementById("start").style.display = "none";
                }

                if (scrollY > 264) {
                    document.getElementById("start").style.display = "block";
                    document.getElementById("start1").style.display = "none";
                    document.getElementById("start2").style.display = "none";
                    document.getElementById("start3").style.display = "none";
                    document.getElementById("line0").style.backgroundColor = "#998e8e";
                    document.getElementById("line1").style.backgroundColor = "white";
                    document.getElementById("line2").style.backgroundColor = "#998e8e";
                    document.getElementById("line3").style.backgroundColor = "#998e8e";
                    document.getElementById("line4").style.backgroundColor = "#998e8e";
                }

                if (scrollY > 869) {
                    document.getElementById("start").style.display = "none";
                    document.getElementById("start1").style.display = "block";
                    document.getElementById("start2").style.display = "none";
                    document.getElementById("start3").style.display = "none";
                    document.getElementById("line0").style.backgroundColor = "#998e8e";
                    document.getElementById("line1").style.backgroundColor = "#998e8e";
                    document.getElementById("line2").style.backgroundColor = "white";
                    document.getElementById("line3").style.backgroundColor = "#998e8e";
                    document.getElementById("line4").style.backgroundColor = "#998e8e";
                }

                if (scrollY > 1963) {
                    document.getElementById("start").style.display = "none";
                    document.getElementById("start1").style.display = "none";
                    document.getElementById("start2").style.display = "block";
                    document.getElementById("start3").style.display = "none";
                    document.getElementById("line0").style.backgroundColor = "#998e8e";
                    document.getElementById("line1").style.backgroundColor = "#998e8e";
                    document.getElementById("line2").style.backgroundColor = "#998e8e";
                    document.getElementById("line3").style.backgroundColor = "white";
                    document.getElementById("line4").style.backgroundColor = "#998e8e";
                }

                if (scrollY > 6565) {
                    document.getElementById("start").style.display = "none";
                    document.getElementById("start1").style.display = "none";
                    document.getElementById("start2").style.display = "none";
                    document.getElementById("start3").style.display = "block";
                    document.getElementById("line0").style.backgroundColor = "#998e8e";
                    document.getElementById("line1").style.backgroundColor = "#998e8e";
                    document.getElementById("line2").style.backgroundColor = "#998e8e";
                    document.getElementById("line3").style.backgroundColor = "#998e8e";
                    document.getElementById("line4").style.backgroundColor = "white";
                }
            }
        }
    </script>
 
</body>
{% endblock body %}

</html>