{% extends 'base.html' %}
<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html>
<!--<![endif]-->
{% load static %}

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="title" content="Artificial intelligence in retail Sector - Solving Scale AI ">
    <meta name="description" content="Artificial Intelligence can solve all problems related with store super vision, work dismantlement, manual monitoring, security compliance and supply threat prevention.">
    <meta name="keywords" content="AI in Retail, Supply Threat Prevention , Store	Management, Security Compliance, Worker Monitoring, Computer vision company">
    <meta name="author" content="solvingscaleAi">
    <meta http-equiv="Cache-control" content="public">
    <title>Retail</title>

    <!-- Mobile Specific Meta
  ================================================== -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="{%static '/images/symb.jpeg'%}" />
    
    <link rel="stylesheet" href="{%static '/css/aos.css'%}">
    <!-- font icon -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-LVV5M06YY7"></script>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap" rel="stylesheet">
    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }
        gtag('js', new Date());

        gtag('config', 'G-LVV5M06YY7');
    </script>
    <style>
        .navbar {
            position: fixed;
            z-index: 1000;
            left: 0;
            right: 0;
            padding: 8px;
        }
        
        .navbar-brand {
            padding: 0px 10px;
        }
        
        .footer-ul li {
            text-decoration: none;
            display: inline;
        }
        
        .footer-ul li a {
            text-decoration: none;
            margin: 0px 10px;
        }
        
        .social-media li {
            text-decoration: none;
            display: inline;
        }
        
        .social-media li a {
            text-decoration: none;
            margin: 0px 5px;
        }
        
        .card {
            transition: box-shadow 0.3s ease-in-out;
        }
        
        .card-body {
            color: black;
        }
        
        .card:hover {
            box-shadow: 0 1px 5px rgba(133, 133, 133, 0.9);
        }
        
        * {
            font-family: 'Josefin Sans', sans-serif;
        }
        
        .card-title {
            color: black;
        }
        
        .formdiv {
            /* background-image: url("{%static '/images/map.jpg'%}") !important;*/
            background-repeat: no-repeat;
            border-radius: 10px;
            background-size: cover;
            background-color: rgb(241, 241, 241);
        }
        
        @media only screen and (max-width: 700px) {
            .remove {
                display: none;
            }
        }
        
        body {
            background-color: black;
            color: white;
        }
    </style>
</head>
{% block body %}
<body id="body">

    <!--
  Start Preloader
  ==================================== -->
    <div id="preloader">
        <div class='preloader'>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
        </div>
    </div>
    <!--
  End Preloader
  ==================================== -->




    <!--
Fixed Navigation
==================================== -->
    <header class="navigation fixed-top">
        <!-- <div class="container"> -->
        <!-- main nav -->

        <!-- /main nav -->
        <!-- </div> -->
    </header><br><br><br><br>
    <!--
End Fixed Navigation
==================================== -->
    <div class="container">
        <div class="row">
            <div class="col-md-6 my-auto">
                <h2 data-aos="fade-down" data-aos-duration="600">AI in Retail</h2>
                <p class="services-border" data-aos="zoom-in" data-aos-duration="1500">
                    Automating Product Safety.
                </p>
            </div>
            <div class="col-md-6">
                <img src="{%static 'solutions/retail_final.gif'%}" style="width: 100%;" alt="artifical intelligence for retail">
            </div>
        </div><br>
        <h2 class="text-center" data-aos="fade-down" data-aos-duration="600">Challenges Faced by the Retail Sector</h2>
        <p class="text-center" data-aos="zoom-in" data-aos-duration="1500">In today's era, product and consumer security has been the major concern in retail industry. Security completely depends upon the one who is monitoring everything through camera and being a human,errors are bound to happen but such is not the
            case with AI. Problems range from product malfunctioning, theft cases to crowd dismanagement, Ununsual activities.
        </p>
        <div class="row  text-center my-5">
            <div class="col-md-4 my-2">
                <div class="card mx-auto " style="width: 23rem;height: 20rem;">
                    <img class="card-img-top mx-auto" style="width: 30%;" src="{%static '/images/caution (1).svg'%}" alt="solvingscale.ai theft rate">
                    <div class="card-body ">
                        <h5 class="card-title" data-aos="fade-down" data-aos-duration="600">Store Supervision </h5>

                        <p class="card-text " data-aos="flip-up" data-aos-duration="1500">Problems faced in most of the retail sector to monitor the workflow of the process regularly.</p>

                    </div>
                </div>
            </div>
            <div class="col-md-4 my-2">
                <div class="card mx-auto " style="width: 23rem;height: 20rem;">
                    <img class="card-img-top mx-auto" style="width: 30%;border-radius: 50%;" src="{%static '/images/manage.jpg'%}" alt="solvingscale.ai vehivle collision">
                    <div class="card-body ">
                        <h5 class="card-title" data-aos="fade-down" data-aos-duration="600">Workplace Dis-Management</h5>

                        <p class="card-text " data-aos="flip-up" data-aos-duration="1500">Workplace managements is necessary for all areas in construction industry and most of the problem occurs because of workplace dismanagement.</p>

                    </div>
                </div>
            </div>
            <div class="col-md-4 my-2">
                <div class="card mx-auto " style="width: 23rem;height: 20rem;">

                    <img class="card-img-top mx-auto" style="width: 30%;" src="{%static '/images/manual.svg'%}" alt="solvingscale.ai theft rate">
                    <div class="card-body ">
                        <h5 class="card-title" data-aos="fade-down" data-aos-duration="600"> Problems in mannual monitoring</h5>

                        <p class="card-text " data-aos="flip-up" data-aos-duration="1500">Most of the issues in retail industry occures due to insufficient process flow of human monitoring.</p>

                    </div>
                </div>
            </div>
        </div>
        <h2 class="text-center" data-aos="fade-down" data-aos-duration="600">How Can AI Help?</h2>
        <div class="row my-5">
            <div class="col-md-4 my-2 ">
                <div class="card mx-auto " style="width: 23rem;height: 20rem;">
                    <img class="card-img-top mx-auto" style="width: 30%;" src="{%static '/images/supervision.jpg'%}" alt="solvingscale.ai vehivle collision">
                    <div class="card-body mx-auto">
                        <h5 class="card-title text-center" data-aos="fade-down" data-aos-duration="600">Product Supervision</h5>

                        <p class="card-text text-left" data-aos="flip-up" data-aos-duration="1500">
                            <ul>
                                <li>- Tracking availibility of product cart </li>
                                <li>- Hour to Hour Analytics Report</li>
                                <li>- Product availibility insights</li>
                            </ul>
                        </p>

                    </div>
                </div>
            </div>
            <div class="col-md-4 my-2">
                <div class="card mx-auto " style="width: 23rem;height: 20rem;">
                    <img class="card-img-top mx-auto" style="width: 30%;" src="{%static '/images/workermonitor.png'%}" alt="solvingscale.ai vehivle collision">
                    <div class="card-body mx-auto">
                        <h5 class="card-title text-center " data-aos="fade-down" data-aos-duration="600"> Worker Monitoring
                        </h5>

                        <p class="card-text text-left " data-aos="flip-up" data-aos-duration="1500">
                            <ul>
                                <li>- Day to Day activity checking</li>
                                <li>- Analytics of work performed</li>
                                <li>- Temperature Checking </li>
                                <li>- Fall and ununsual activity Detection </li>
                            </ul>
                        </p>

                    </div>
                </div>
            </div>

            <div class="col-md-4 my-2">
                <div class="card mx-auto " style="width: 23rem;height: 20rem;">
                    <img class="card-img-top mx-auto" style="width: 30%;" src="{%static '/images/shield (1).svg'%}" alt="solvingscale.ai vehivle collision">
                    <div class="card-body mx-auto">
                        <h5 class="card-title text-center" data-aos="fade-down" data-aos-duration="600">Security Compliance
                        </h5>

                        <p class="card-text text-left " data-aos="flip-up" data-aos-duration="1500">
                            <ul>
                                <li>- Intruder Detection</li>
                                <li>- Loitering Detection</li>
                                <li>- Unattended Object Detection</li>
                            </ul>
                        </p>

                    </div>
                </div>
            </div>
        </div>
        <div class="row my-5">
            <div class="col-md-4 my-2 ">
                <div class="card mx-auto " style="width: 23rem;height: 20rem;">
                    <img class="card-img-top mx-auto" style="width: 30%;" src="{%static '/images/workplace.svg'%}" alt="solvingscale.ai vehivle collision">
                    <div class="card-body mx-auto">
                        <h5 class="card-title text-center" data-aos="fade-down" data-aos-duration="600">Workplace SOP
                        </h5>
                        <p class="card-text text-left " data-aos="flip-up" data-aos-duration="1500">

                            <ul>
                                <li>- Insights of Customer's Behavior </li>
                                <li>- Customer Interation Analysis</li>
                                <li>- Availibility of staff to customer</li>
                            </ul>

                        </p>

                    </div>
                </div>
            </div>
            <div class="col-md-4 my-2">
                <div class="card mx-auto " style="width: 23rem;height: 20rem;">
                    <img class="card-img-top mx-auto" style="width: 30%;" src="{%static '/images/market.svg'%}" alt="solvingscale.ai vehivle collision">
                    <div class="card-body mx-auto">
                        <h5 class="card-title text-center" data-aos="fade-down" data-aos-duration="600">Store Management
                        </h5>

                        <p class="card-text text-left " data-aos="flip-up" data-aos-duration="1500">
                            <ul>
                                <li>- Analytics on Day to Day data</li>
                                <li>- Analytics of Staff Availibility</li>
                                <li>- Staff tools Detection</li>

                            </ul>
                        </p>

                    </div>
                </div>
            </div>

            <div class="col-md-4 my-2">
                <div class="card mx-auto " style="width: 23rem;height: 20rem;">
                    <img class="card-img-top mx-auto" style="width: 30%;" src="{%static '/images/shield.svg'%}" alt="solvingscale.ai vehivle collision">
                    <div class="card-body mx-auto">
                        <h5 class="card-title text-center" data-aos="fade-down" data-aos-duration="600">Supply Threat Prevention
                        </h5>

                        <p class="card-text text-left " data-aos="flip-up" data-aos-duration="1500">
                            <ul>
                                <li>- Counting Supply tools</li>
                                <li>- Regular Quality Check</li>
                                <li>- Anamoly Detection for Products</li>
                            </ul>
                        </p>


                    </div>
                </div>
            </div>
        </div>


        <h2 class="text-center">Why TDB?</h2>
        <div class="row  text-center my-5">
            <div class="col-md-4 my-2">
                <div class="card mx-auto " style="width: 23rem;height: 20rem;">
                    <img class="card-img-top mx-auto" style="width: 30%;" src="{%static '/images/consistency.svg'%}" alt="solvingscale.ai vehivle collision">
                    <div class="card-body ">
                        <h5 class="card-title text-center" data-aos="fade-down" data-aos-duration="600">Consistency</h5>

                        <p class="card-text " data-aos="flip-up" data-aos-duration="1500">What makes a building product great? The easy answer is the Consistency with which it produces books of value over a lengthy period of time.</p>

                    </div>
                </div>
            </div>
            <div class="col-md-4 my-2">
                <div class="card mx-auto " style="width: 23rem; height: 20rem;">
                    <img class="card-img-top mx-auto" style="width: 30%;" src="{%static '/images/reliability.svg'%}" alt="solvingscale.ai vehivle collision">
                    <div class="card-body ">
                        <h5 class="card-title text-center" data-aos="fade-down" data-aos-duration="600">Reliability</h5>

                        <p class="card-text " data-aos="flip-up" data-aos-duration="1500">What is important is the reliability of my work being there to greet my clients with a smile or a giggle every morning. That's how we keep on growing.</p>

                    </div>
                </div>
            </div>
            <div class="col-md-4 my-2">
                <div class="card mx-auto " style="width: 23rem;height: 20rem;">
                    <img class="card-img-top mx-auto" style="width: 30%;" src="{%static '/images/customer-review.svg'%}" alt="solvingscale.ai vehivle collision">
                    <div class="card-body ">
                        <h5 class="card-title text-center" data-aos="fade-down" data-aos-duration="600">Satisfaction
                        </h5>

                        <p class="card-text " data-aos="flip-up" data-aos-duration="1500">A customer talking about their experience with you is worth ten times that which you write or say about yourself.</p>

                    </div>
                </div>
            </div>
        </div>



        <!-- end Footer Area
	========================================== -->



        <!--
	Essential Scripts
	=====================================-->
        <!-- Main jQuery -->
        <script src="{%static '/plugins/jquery/jquery.min.js'%}"></script>
        <!-- Bootstrap4 -->
        <script src="{%static '/plugins/bootstrap/js/bootstrap.min.js'%}"></script>
        <script src="{%static '/plugins/slick/slick.min.js'%}"></script>

        <!-- Custom js -->
        <script src="{%static '/js/script.js'%}"></script>
        <script src="{%static '/js/val.js'%}"></script>
        <script src="{%static '/js/aos.js'%}"></script>
        <script>
            AOS.init();
        </script>

</body>
{% endblock body %}

</html>