{% extends 'base.html' %} {% load static %} {% block head %}
<link rel="stylesheet" href="{% static 'post.css' %}">
<style>
    body {
        background-color: black;
        color: whitesmoke;
    }
</style>
<meta name="author" content="{{post.author}}">
<meta name="keywords" content="{{post.keywords}}">
<meta name="description" content="{{post.description}}"> {% endblock head %} {% block title %}{{post.title}}{% endblock title %} {% block body %}

<body>
    <div class="container" style="width: 75vw; margin: 2% auto;">

        <div class="row">

            <!-- Post Content Column -->
            <div class="col-lg-12">


                <!-- Title -->
                <h1 class="mt-4">{{post.title}}</h1>

                <!-- Author -->
                <p class="lead">
                    by
                    <a style="color: white;" href="#">{{post.author}} </a>
                </p>

                <hr style="border-bottom: none;">

                <!-- Date/Time -->
                <p>{{post.date_posted |date:"d F, Y "}} </p>

                <hr style="border-bottom: none;">

                <!-- Preview Image -->
                <img class="img-fluid rounded col-12" src="{{post.image.url}}" alt="">

                <hr style="border-bottom: none;">
                <div id="blog_content">

                    <pre>{{post.content | safe}}</pre>
                </div>

            </div>
            <!-- /.row -->
        </div>
    </div>

    <script>
    </script>
</body>
{% endblock body %}




</html>