{% extends 'sol_base.html' %}
<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html>
<!--<![endif]-->
{% load static %}

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<meta name="title" content="Contact us for Artificial intelligence services in Hyderabad and Indore.">
	<meta name="description"
		content="TDB AI, An artificial intelligence services provider company in India has it premises Indore and Hyderabad. contact us on given physical address.">
	<meta name="keywords"
		content="Contact us, AI company, ai solutions,face recogition,attendance management system, ERP, computer vision syndrome.">
	<meta name="author" content="tdbai">
	<meta http-equiv="Cache-control" content="public">
	{% block title %}Contact {% endblock title %}


	<!-- Mobile Specific Meta
  ================================================== -->

	<!-- Favicon -->
	<link rel="shortcut icon" type="image/x-icon" href="{%static '/images/symb.jpeg'%}" />
	<!-- Main Stylesheet -->

	<!-- font icon -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<!-- Global site tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=G-LVV5M06YY7"></script>

	<script>
		window.dataLayer = window.dataLayer || [];

		function gtag() {
			dataLayer.push(arguments);
		}
		gtag('js', new Date());

		gtag('config', 'G-LVV5M06YY7');
	</script>
	{% block body %}
	<style>
		.navbar {
			position: fixed;
			z-index: 1000;
			left: 0;
			right: 0;
			padding: 8px;

		}

		.navbar-brand {
			padding: 0px 10px;
		}

		.footer-ul li a {
			text-decoration: none;
			margin: 0px 10px;
		}

		.footer-ul li {
			text-decoration: none;
			display: inline;
		}

		.social-media li {
			text-decoration: none;
			display: inline;
		}

		.social-media li a {
			text-decoration: none;
			margin: 0px 5px;
		}

		.switch-field {

			margin-bottom: 36px;
			overflow: hidden;

		}

		.switch-field input {
			position: absolute !important;
			clip: rect(0, 0, 0, 0);
			height: 1px;
			width: 1px;
			border: 0;
			overflow: hidden;
		}

		.switch-field label {
			font-size: 14px;
			line-height: 1;
			text-align: center;
			padding: 8px 16px;
			margin-right: -1px;
			border-bottom: 4px solid rgba(0, 0, 0, 0.2);
			border-radius: 2px;

		}


		.switch-field label:hover {
			cursor: pointer;
		}

		.switch-field input:checked+label {
			border-color: rgb(78, 167, 250);
			box-shadow: none;
		}

		.hyderabad {
			display: none;
		}

		.Saudi {
			display: none;
		}

		.icon-size {
			width: 20px;
		}

		@media only screen and (max-width: 700px) {
			.remove {
				display: none;
			}
		}

		ul li {
			font-family: 'Josefin Sans', sans-serif !important;
		}
	</style>
</head>

<body id="body">

	<!--
  Start Preloader
  ==================================== -->
	<div id="preloader">
		<div class='preloader'>
			<span></span>
			<span></span>
			<span></span>
			<span></span>
			<span></span>
			<span></span>
		</div>
	</div>
	<!--
  End Preloader
  ==================================== -->




	<!--
Fixed Navigation
==================================== -->
	<header class="navigation fixed-top">
		<!-- <div class="container"> -->
		<!-- main nav -->

		<!-- /main nav -->
		<!-- </div> -->
	</header>
	<!--
End Fixed Navigation
==================================== -->


	<section class="single-page-header"
		style="background-image:url({%static 'contact_bg1.jpg'%}); height: 30rem; background-repeat:no-repeat;background-size: cover">
		<div class="container">
			<br>
			<br>
			<br>
			<br>
			<br><br>
			<br>
			<div class="row">
				<!-- section title -->
				<div class="col-12">
					<div class="title text-center">
						<h2 class="text-light" style="font-size: 2.6rem;
    font-weight: bold; font-family: 'Josefin Sans', sans-serif !important;">Get In Touch
						</h2>
						<p class="text-light"
							style="font-size: 1.2rem;font-family: 'Josefin Sans', sans-serif !important;">We’re happy to
							hear from you. Contact us today to learn more about us and how you can benefit from working
							with us.</p>
						<div class="border"></div>
					</div>
				</div>
				<!-- /section title -->
			</div>
		</div>
	</section>

	<!--Start Contact Us
	=========================================== -->
	<br><br>
	<div class="container">


		<div class="row" style="padding: 10px;border-radius: 10px;">
			<div class="col-md-6">
				<div class="switch-field text-center ">
					<input type="radio" id="radio-one" name="switch-one" value="1" checked />
					<label style="color: white;" for="radio-one">Indore Office</label>

					<input type="radio" id="radio-two" name="switch-one" value="2" />
					<label style="color: white;" for="radio-two">Hyderabad Office</label>

					<input type="radio" id="radio-three" name="switch-one" value="3" />
					<label style="color: white;" for="radio-three">Saudi Arabia Office</label>
				</div>

				<!-- INDORE -->
				<div class="row indore">
					<div class="col-2 text-right"><img src="{%static '/images/icons/email.png'%}" class="icon-size"
							alt="">
					</div>
					<div class="col">
						<p> info@tdb.ai</p>
					</div>
				</div>
				<div class="row indore">
					<div class="col-2 text-right"><img src="{%static '/images/icons/address.png'%}" class="icon-size"
							alt="">
					</div>
					<div class="col">
						615, Apollo Premier, Vijay Nagar Sqaure, Indore, Madhya
						pradesh, India, 452001 &nbsp; &nbsp; &nbsp;
					</div>
				</div>
				<div class="row indore">
					<div class="col-2 text-right"><img src="{%static '/images/icons/phone-call.png'%}" class="icon-size"
							alt="">
					</div>
					<div class="col ">
						+91-7313510004, +91-7000258253
					</div>
				</div>

				<!-- HYDERABAD -->
				<div class="row hyderabad">
					<div class="col-2 text-right"><img src="{%static '/images/icons/email.png'%}" class="icon-size"
							alt="">
					</div>
					<div class="col">
						<p>info@tdb.ai</p>
					</div>
				</div>
				<div class="row hyderabad">
					<div class="col-2 text-right"><img src="{%static '/images/icons/address.png'%}" class="icon-size"
							alt="">
					</div>
					<div class="col">

						2nd Floor, Adviti Nivas PLOT - 26, near RTO Office,
						Chandragiri
						Colony, Trimulgherry, Secunderabad, Telangana 500015
					</div>
				</div>
				<div class="row hyderabad">
					<div class="col-2 text-right"><img src="{%static '/images/icons/phone-call.png'%}" class="icon-size"
							alt="">
					</div>
					<div class="col ">

						+91-7000258253
					</div>
				</div>

				<!-- Saudi Arabia -->
				<div class="row Saudi">
					<div class="col-2 text-right"><img src="{%static '/images/icons/email.png'%}" class="icon-size"
							alt="">
					</div>
					<div class="col">
						<p>info@tdb.ai</p>
					</div>
				</div>
				<div class="row Saudi">
					<div class="col-2 text-right"><img src="{%static '/images/icons/address.png'%}" class="icon-size"
							alt="">
					</div>
					<div class="col">
						Riyadh, SaudiArabia &nbsp; &nbsp; &nbsp;
					</div>
				</div>
				<div class="row Saudi">
					<div class="col-2 text-right"><img src="{%static '/images/icons/phone-call.png'%}" class="icon-size"
							alt="">
					</div>
					<div class="col ">
						+966 53456 4040
					</div>
				</div>
			</div>

			<div class="col-md-6">
				<div class="indore" class="card" style="width: 100%; height: 100%;">
					<div class="card-body">
						<iframe
							src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3679.457185280489!2d75.89182471496274!3d22.74840858509263!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3962fde29067a05b%3A0x8becd85ff0793cad!2sTech%20Driven%20Basic%20(TDB.AI)!5e0!3m2!1sen!2sin!4v1611639635852!5m2!1sen!2sin"
							width="100%" height="100%" frameborder="0" style="border:0;" allowfullscreen=""
							aria-hidden="false" tabindex="0"></iframe>

					</div>
				</div>

				<div class="hyderabad" class="card" style="width: 100%; height: 100%;">
					<div class="card-body">
						<iframe
							src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d3805.861083484804!2d78.5053892!3d17.4663618!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bcb997deea44453%3A0x711962286c3e4ce8!2sVeloxtech%20Solutions!5e0!3m2!1sen!2sin!4v1611638625149!5m2!1sen!2sin"
							width="100%" height="100%" frameborder="0" style="border:0;" allowfullscreen=""
							aria-hidden="false" tabindex="0"></iframe>
					</div>
				</div>

				<div class="Saudi" class="card" style="width: 100%; height: 100%;">
					<div class="card-body">
						<iframe
							src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d463079.76729830157!2d46.106879706551936!3d24.93851853330311!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3e2f03890d489399%3A0xba974d1c98e79fd5!2sRiyadh%2011564%2C%20Saudi%20Arabia!5e0!3m2!1sen!2sin!4v1618394088637!5m2!1sen!2sin"
							width="100%" height="100%" frameborder="0" style="border:0;" allowfullscreen=""
							aria-hidden="false" tabindex="0"></iframe>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!--====  End  Map  ====-->
	<br><br>


	<!-- end Footer Area
========================================== -->




	<!-- Essential Scripts
=====================================-->
	<!-- Main jQuery -->
	<script src="{%static '/plugins/jquery/jquery.min.js'%}"></script>
	<!-- Bootstrap4 -->
	<script src="{%static '/plugins/bootstrap/js/bootstrap.min.js'%}"></script>
	<script src="{%static '/js/script.js'%}"></script>
	<script src="{%static '/js/val.js'%}"></script>
	<script>
		$(document).ready(function () {
			$('input[name=switch-one]').on('change', function () {
				var n = $(this).val();
				switch (n) {
					case '1':
						$('.indore').show();
						$('.hyderabad').hide();
						$('.Saudi').hide();

						break;
					case '2':
						$('.indore').hide();
						$('.hyderabad').show();
						$('.hyderabad').css("display", "flex");
						$('.Saudi').hide();
						break;
					case '3':
						$('.indore').hide();
						$('.hyderabad').hide();
						$('.Saudi').show();
						$('.Saudi').css("display", "flex");
						break;
				}
			});
		});
	</script>
</body>
{% endblock body %}

</html>