<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/bottom_page.css">
    <title>Bottom Page</title>
</head>

<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12 col-md-12 up_section">
                <h3 class="section-title">Proven Results in weeks, not in Years</h3>
                <div class="row part_section">
                    <div class="col-md-1">
                        <div class="up_sec1">
                            up_section1
                        </div>
                        <div class="low_sec1">
                            2 Hours 
                        </div>
                    </div>
                    <div class="col-md-2 ">
                        <div class="up_sec2">
                            up_section2
                        </div>
                        <div class="low_sec2">
                            2-3 Days
                        </div>
                    </div>
                    <div class="col-md-4 ">
                        <div class="up_sec3">
                            up_section3
                        </div>
                        <div class="low_sec3">
                            2-3 Weeks
                        </div>
                    </div>
                    <div class="col-md-5 ">
                        <div class="up_sec4">
                            up_section4
                        </div>
                        <div class="low_sec4">
                            3-4 Months
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-12 col-md-12 low_section">
                <h3 class="section-title">Take the next step</h3>
            </div>
        </div>
    </div>









    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0"
        crossorigin="anonymous"></script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.6.0/dist/umd/popper.min.js" integrity="sha384-KsvD1yqQ1/1+IA7gi3P0tyJcT3vR+NdBTt13hSJ2lnve8agRGXTTyNaBYmCR/Nwi" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.min.js" integrity="sha384-nsg8ua9HAw1y0W1btsyWgBklPnCUAFLuTMS2G72MMONqmOymq585AcH49TLBQObG" crossorigin="anonymous"></script>
    -->
</body>

</html>